[Unit]
Description=XCP-ng Installer
Requires=systemd-udev-settle.service
After=systemd-udev-settle.service getty@tty2.service

[Service]
Type=forking
SendSIGHUP=yes
ExecStart=/opt/xensource/installer/preinit --

[Install]
WantedBy=multi-user.target
