[alma-base]
name=AlmaLinux 10 - CoreOS
mirrorlist=https://mirrors.almalinux.org/mirrorlist/10.0/baseos?arch=@@RPMARCH@@
#baseurl=https://repo.almalinux.org/almalinux/10.0/BaseOS/@@RPMARCH@@/os
gpgkey=https://repo.almalinux.org/almalinux/10.0/BaseOS/@@RPMARCH@@/os/RPM-GPG-KEY-AlmaLinux-10
failovermethod=priority
skip_if_unavailable=False

# extra is required to bootstrap EPEL
[alma-extras]
name=AlmaLinux 10 - Extras
mirrorlist=https://mirrors.almalinux.org/mirrorlist/10.0/extras?arch=x86_64_v2
# baseurl=https://repo.almalinux.org/almalinux/10.0/extras/x86_64_v2/os/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10

# devel is required for libyajl.so.2 in yajl, Alma devs notified
[alma-devel]
name=Almalinux 10 - Devel
mirrorlist=https://mirrors.almalinux.org/mirrorlist/10.0/devel?arch=@@RPMARCH@@
#baseurl=https://repo.almalinux.org/almalinux/10.0/devel/@@RPMARCH@@/os/
gpgcheck=1

[alma-appstream]
name=AlmaLinux 10 - AppStream
mirrorlist=https://mirrors.almalinux.org/mirrorlist/10.0/appstream?arch=@@RPMARCH@@
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10
metadata_expire=86400
enabled_metadata=1

# FIXME: this URL is only for Alma archs not in RHEL, ie. x86_64_v2
# we need some packages shipped in 10.1 but not 10.0
[epel]
name=Extra Packages for Enterprise Linux 10.1 from AlmaLinux
baseurl=https://epel.repo.almalinux.org/10.1/@@RPMARCH@@/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10-EPEL-AltArch
gpgcheck=1
repo_gpgcheck=0
metadata_expire=24h

[xcpng]
name=xcpng
baseurl=http://repos/repos/ydi/v9alma10v2/
gpgkey=https://xcp-ng.org/RPM-GPG-KEY-xcpng
failovermethod=priority
skip_if_unavailable=False
# nothing signed yet
gpgcheck=0
priority=1
