# FIXME: this URL is only for Alma archs not in RHEL, ie. x86_64_v2
# we need some packages shipped in 10.1 but not 10.0
[epel]
name=Extra Packages for Enterprise Linux 10.1 from AlmaLinux
baseurl=@@SRCURL@@/10.1/@@RPMARCH@@/
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-AlmaLinux-10-EPEL-AltArch
gpgcheck=1
repo_gpgcheck=0
metadata_expire=24h
enabled=0
